@import '../../style/variables.scss';

.app {
  &__banner {
    width: 100%;
    background-color: $dark;
    height: 100px;
    padding: 0 25px 0 45px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 152px auto 133px;
    align-items: center;

    &-text {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;
      padding-left: 83px;
    }
  }
}

@media (max-width: 700px) {
  .app {
    &__banner {
      padding: 0 1%;
      margin-bottom: 25px;
      justify-content: space-between;

      &-text {
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .app {
    &__banner {
      grid-template-columns: 152px 1fr;
      gap: 5px;
      img:last-of-type{
        display: none;
      }

      &-text {
        font-size: 22px;
      }
    }
  }
}