@import '../../style/variables.scss';

.app {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;

    span {
      color: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      background-color: $main-color;
    }
  }

  &__menu {
    ul {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;

      li {
        margin: 0 8px;

        a {
          padding: 0 8px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .app {
    &__title {
      text-align: center;
    }

    &__header {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
    &__title {
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3rem;
        line-height: 26px;
        letter-spacing: 1px;

      }
      span {
        padding: 6px;
        font-size: 2.5rem;
        letter-spacing: normal;
      }
    }
  }
}